* {
  box-sizing: border-box;
}

:root {
  --primary-color: #37517e;
  --secondary-color: #47b2e4;
  --third-color: #444;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Jost", sans-serif;
}

/* common */
.container {
  width: 1300px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--secondary-color);
  width: 120px;
  height: 45px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 1.8rem;
}

.btn:hover {
  opacity: 0.8;
}

.section-heading {
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.67;
}

.section-desc {
  color: #444;
  font-size: 1.6rem;
  line-height: 1.67;
}

.section-heading-lv2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
}

/* header */

/* nav */
.navbar {
  left: 0;
  right: 0;
}

.navbar-row {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.navbar-fixed {
  position: fixed;
  display: flex;
  background: var(--primary-color);
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo-img {
  width: 48px;
  height: 48px;
}

.navbar__logo-desc {
  margin-left: 12px;
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar__item {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  cursor: pointer;
}

.navbar__item:hover {
  opacity: 0.8;
}

.navbar__item.navbar__item-course:hover {
  opacity: 1;
}

.navbar__item-course-heading:hover {
  opacity: 0.8;
}

.navbar__item-course:hover .navbar__more {
  visibility: visible;
}

.navbar__item--active {
  color: var(--secondary-color);
}

.navbar__item-course {
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: relative;
}

.navbar__item-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  color: #fff;
}

.navbar-bridge {
  position: absolute;
  width: 120px;
  height: 10px;
  background-color: transparent;
  top: 15px;
  z-index: 1;
}

.navbar__more {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  visibility: hidden;
}

.navbar__move-course:hover .navbar__more2 {
  visibility: visible;
}

.navbar-bridge2 {
  position: absolute;
  width: 70px;
  height: 40px;
  background-color: transparent;
  top: 65px;
  left: -20px;
  z-index: 1;
}

.navbar__more2 {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50px;
  right: 220px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  visibility: hidden;
}

.navbar__move-item {
  color: #0c0c0c;
  margin: 22px;
  font-size: 1.8rem;
  cursor: pointer;
}

.navbar__move-item:hover {
  color: var(--secondary-color);
  .navbar__move-icon {
    color: var(--secondary-color);
  }
}

.navbar__move-icon {
  color: #0c0c0c;
}

.navbar__move-course {
  display: flex;
  align-items: center;
}

/* hero */
.hero {
  background-color: var(--primary-color);
}

.hero-row {
  padding: calc(100px + 50px) 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left__heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}

.hero-left__desc {
  margin-top: 4px;
  color: #c4cad8;
  font-size: 2.5rem;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.67;
}

.hero-left__btn {
  margin-top: 24px;
  width: 150px;
  font-weight: 600;
}

.hero-right__img {
  width: 650px;
  height: 540px;
  object-fit: cover;
}

/* contact */
.contact {
  padding: 100px 0;
  text-align: center;
}

.contact-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__heading {
  display: inline-block;
  padding-bottom: 25px;
  border-bottom: 2px solid #c1c1c1;
}

.contact__desc {
  display: inline-block;
  padding-top: 25px;
  position: relative;
}

.contact__desc::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background: #46b2e4;
  position: absolute;
  top: -3.5px;
  left: 158px;
}

/* form */
.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}

.form-left {
  width: 40%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-left__item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 32px 0 32px 32px;
}

.form-left__icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.form-left__bg {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f1f9fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-left__content {
  margin-left: 12px;
}

.form-left__img {
  width: 88%;
  margin: 0 32px 32px 32px;
  object-fit: cover;
}
